
footer {
    flex-direction: row;
    background-image: url("../images/banner-bottom-d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 550px;
    margin: 0;
    align-content: center;
    section.col-12 {
        @include for-small-phones {
            padding: 0 5px;
        }
    }
    form {
        background-color: #FFF;
        padding: 30px 50px;
        justify-content: space-between;
        legend {
            font-size: 23px;
            font-weight: 700;
            text-align: center;
        }
        .form-control {
            border: 1px solid transparent;
            border-radius: 0;
            outline: none;
            margin-top: 15px;
            padding-left: 0;
            border-bottom: 1px solid $theme-green;
            box-shadow: 0 0 0 0.3rem #FFF;
            color: #595959;
            option {
                border: none;
                outline: none;
            }
            &.bootstrap-select {
                box-shadow: 0 0 0 0.3rem #FFF;
                border-width: 0;
                border-color: transparent;
                -webkit-tap-highlight-color: transparent;
                .btn {
                    outline: none !important;
                    &:focus, &:active, &:selected {
                        border-width: 0;
                        border-color: transparent;
                        outline: none !important;
                    }                     
                }
            }
            &:focus {
                border: 1px solid transparent;
                border-radius: 0;
                outline: none !important;
                margin-top: 15px;
                border-bottom: 1px solid $theme-green;
                box-shadow: 0 0 0 0.1rem transparent;
            }
            @include not-for-phones {
                width: 48%;
            }
        }
        select.custom-select {
            background: none;
            background-image:
                linear-gradient(45deg, transparent 40%, #595959 60%),
                linear-gradient(135deg, #595959 50%, transparent 50%) !important;
            background-position:
                calc(100% - 18px) 14px,
                calc(100% - 10px) 14px,
                100% 0;
            background-size:
                8px 8px,
                8px 8px;
            background-repeat: no-repeat;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
        fieldset {
            &.form-check {
                width: 100%;
                padding-left: 0;
                padding-top: 15px;
            }
            label {
                display: block;
                float: left;
                max-width: calc(100% - 30px);
            }
            input {
                &[type=checkbox] {
                    float: left;
                    margin-top: 5px;
                    margin-right: 10px;
                }
            }
            &.d-flex {
                width: 100%;
                align-items: center;
                justify-content: center;
            }
            button {
                &[type=submit] {
                    display: inline-block;
                    width: 310px;
                    // max-width: calc(100% - 100px);
                    height: 48px;
                    margin: 30px auto;
                    border-radius: 0;
                    background-color: $theme-green;
                    font-size: 20px;
                    @include for-small-phones {
                        max-width: 90%;
                        margin: 50px 5%;
                    }
                }
            }
        }
        @include for-small-phones {
            padding: 20px;
        }
    }
    nav {
        width: 100%;
        padding: 30px 0;
        ul {
            list-style: none;
            align-content: space-between;
            li {
                display: inline-block;                
                a {
                    display: block;
                    line-height: 1;
                    color: #908d8c;
                    padding: 0 15px;
                    border-right: 1px solid #908d8c;
                    font-size: 14px;
                    @include for-tablet-portrait-up {
                        font-size: 13px;
                    }
                    @include for-tablet-landscape-up {
                        padding: 0 5px;
                    }
                    @include for-desktop-up {
                        padding: 0 15px;
                    }
                }
                &:last-of-type {
                    a {
                        border: none;
                    }                    
                }
            }
            @include for-tablet-landscape-down {
                text-align: center;
            }
            @include for-tablet-portrait-down {
                display: flex;
                flex-flow: column;
                align-items: center;
                li {
                    padding: 10px;
                    a {
                        border: none !important;
                    }
                }
            }
            @include for-phone-only {
                li {
                    a {
                        padding: 0;
                        font-size: 12px;
                    }
                }
            }
        }
        #copy-info {
            figure {
                margin: 0 auto;
                max-width: 200px;
                figcaption {
                    float: left;
                    color: #FFF;
                    text-align: right;
                    max-width: 60%;
                    padding: 0 5px 0 0;
                    @include for-desktop-down {
                        font-size: 12px;
                    }
                    @include for-tablet-landscape-down {
                        font-size: 11px;
                        padding-top: 18px;
                    }
                }
                a {
                    float: left;
                    max-width: 40%;
                    img {
                        width: 80px;
                        max-width: 100%;
                    }
                }
            }  
            @include for-tablet-landscape-up {
                a {
                    img {
                        margin-top: -14px; 
                    }
                }
            }
        }
    }
}